html {
  scroll-behavior: smooth;
}
body {
  background: #18191f;
}

/* Header */
#header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background: #18191f;
  padding: 5px 50px;
  color: white;
  font-family: 'Rubik Glitch', cursive;
  font-size: 55px;
  position: fixed;
  top: 0;
  width: 100%;
  transition: 0.2s;
  text-align: center;
}
#small-header {
  display: none;
}

#header a {
  color: inherit;
  font-size: inherit;
}
#header a:hover {
  color: #ffffff50;
} 

/* Welcome Page */
#welcome {
  background-color: red;
  color: white;
  height: 50vh;
  padding-top: 9rem;
  font-family: 'Rubik Glitch', cursive;
  margin-top: 112px;
}

/* Languages & Tools */
.tools-container {
  background: #18191f;
  color: white;
  padding-bottom: 2rem;
  font-family: 'Rubik Glitch', cursive;
}
.icons-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: inherit;
}
.tools {
  font-size: 90px;
  margin: 2rem;
  color: inherit;
  animation: rotate 2s linear infinite alternate;
}

/* #react {
  animation: rotate 5s linear infinite;
} */
@keyframes rotate {
  to {
    transform: rotate(30deg);
  }
}

/*Projects Section*/
#work {
  background-color: white;
  min-height: 80vh;
  height: auto;
  padding-bottom: 2rem;
  padding: 0 0;
  
}
h2 {
  font-family: 'Rubik Glitch', cursive;
  margin: 30px 0;
}

.projects {
  height: 80vh;
  width: 100%;
  background-color: white;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-container {
  width: 50%;
  height: 80vh;
  color: white;
  overflow: hidden;
}
img {
  height: 100%;
  position: static;
  background-size: cover;
  float: left;
}

.container1 {
  height: 80vh;
  width: 50%;
  background-color: black;
  overflow: hidden;
}
.info {
  text-align: center;
  position: static;
  background-color: white;
  border-radius: 2rem;
  height: 400px;
  width: 400px;
  margin: 140px 0;
  margin-right: 20%;
  float: right;
  padding: 30px;
  
}
/* Button */
.check {
  border-color: black;
  margin-top: 30px;
  color: black;
}

  

/* @media (max-width: 1000px) {
  #header {
    font-size: 30px;
  }
  #welcome {
    margin-top: 55px;
  }
} */